/*****************************************************************************************
*****************************************************************************************
Project Name: LMS
Author Name: Sahab Uddin
Client Name: LEDP-2020 D2
Project Date: 17-06-2020
Project Type: Education
Project Section:
				1.Top Header
				2.
**********************************************************************************************
**********************************************************************************************/

/**********************************************************************************************
					Base CSS Start
***********************************************************************************************/
*,body{
	padding: 0;
	margin: 0;
}
/**********************************************************************************************
					Base CSS End
***********************************************************************************************/
/**********************************************************************************************
					Common CSS Start
***********************************************************************************************/
.first_color{
	color: #56ab2f;
}
.second_color{
	color: #1e1d1d;
}
.first_bg_color{
	background-color: #56ab2f;
}
.second_bg_color{
	background-color: #1e1d1d;
}
/**********************************************************************************************
					Common CSS End
***********************************************************************************************/
/**********************************************************************************************
					Top Header CSS Start
***********************************************************************************************/
#top{
	height: 50px;
	width: 100%;
	line-height: 50px;

}
.top_list{
	list-style: none;
}
.top_list li{
	padding-left: 10px;
}
.top_list li:first-child{
	padding-left: 0px !important;
}
.login_border{
	padding-left: 10px;
	color: #c7c7c7;
}
/**********************************************************************************************
					Top Header CSS End
***********************************************************************************************/



