/*****************************************************************************************
*****************************************************************************************
Project Name: LMS
Author Name: Sahab Uddin
Client Name: LEDP-2020 D2
Project Date: 17-06-2020
Project Type: Education
Project Section:
				1.Top Header
				2.Nav Header
				3.Slider Section
**********************************************************************************************
**********************************************************************************************/

/**********************************************************************************************
					Base CSS Start
***********************************************************************************************/
*,body{
	padding: 0;
	margin: 0;
}
/**********************************************************************************************
					Base CSS End
***********************************************************************************************/
/**********************************************************************************************
					Common CSS Start
***********************************************************************************************/
.first_color{
	color: #56ab2f;
}
.second_color{
	color: #1e1d1d;
}
.first_bg_color{
	background-color: #56ab2f;
}
.second_bg_color{
	background-color: #1e1d1d;
}
/**********************************************************************************************
					Common CSS End
***********************************************************************************************/
/**********************************************************************************************
					Top Header CSS Start
***********************************************************************************************/
#top{
	height: 50px;
	width: 100%;
	line-height: 50px;
	z-index:22222;
	position: sticky;
	top: -60px;
}
.top_list{
	list-style: none;
}
.top_list li{
	padding-left: 10px;
}
.top_list li:first-child{
	padding-left: 0px !important;
}
.login_border{
	padding-left: 10px;
	color: #c7c7c7;
}
/**********************************************************************************************
					Top Header CSS End
***********************************************************************************************/
/**********************************************************************************************
					Nav Header CSS Start
***********************************************************************************************/
.navsection{
	background: rgba(254, 255, 255, .8);
	position: sticky;
	top: 0;
	z-index: 1111;

}
.navbar{
	padding-left: 0px !important;
	z-index: 11111;
}
.nav-link{
	font-weight: bold !important;
}
.active .nav-link{
	color: #56ab2f !important;
}
.nav-link:focus{
	color: #56ab2f !important;
}
/**********************************************************************************************
					Nav Header CSS End
***********************************************************************************************/
/**********************************************************************************************
					Slider Section CSS Start
***********************************************************************************************/
.slider{
	margin-top: -120px;
	z-index: -1111;
}
.btn {
	border-radius: 0px !important;
	font-weight: bold;
}

.carousel-caption {
	width: 450px;
	height: 300px;
    position: absolute; 
    bottom: 25%; 
    left: 55%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
}
.btn-success-color{
	color: ;
}
/**********************************************************************************************
					Slider Section CSS End
***********************************************************************************************/